@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,800");

@mobile: ~"only screen and (max-width: 529px)";
@tablet: ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop: ~"only screen and (min-width: 950px) and (max-width: 1199px)";
@desktop-xl: ~"only screen and (min-width: 1200px)";

body {
    font-family: "Open Sans", sans-serif;
    background-color: #ffffff;
}

// a {
//     color: @fucsia;
// }

.btn {
    font-weight: 800;
    text-transform: uppercase;
}

.close {
    font-size: 2rem;
    color: white;
    &:not(:disabled):not(.disabled):focus,
    &:not(:disabled):not(.disabled):hover {
        color: white;
        opacity: 1;
    }
}
.carousel-indicators li {
    position: relative;
    flex: 0 1 auto;
    width: 10px;
    border-radius: 50%;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #673ab7;
    left: 20%;
}
.carousel-indicators .active {
    background-color: #421a5f;
}

.carousel-control-next-icon {
    background-image: url("../images/play.svg");
}
.carousel-control-prev-icon {
    background-image: url("../images/previus.svg");
}
#carousel {
    h2 {
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        color: white;
        font-size: 2.8rem;
        padding-top: 20vh;
    }
    .item {
        height: 90vh;
        &.item1 {
            background: url("../images/1/Bg.jpg");
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat;
        }
        &.item2 {
            background: url("../images/2/Bg.jpg");
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat;
        }
        &.item3 {
            background: url("../images/3/Bg.jpg");
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat;
        }
        &.item4 {
            background: url("../images/4/Bg.jpg");
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat;
        }
        &.item5 {
            background: url("../images/5/Bg.jpg");
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat;
        }
    }
    .carousel-caption {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        padding: 60px 120px;
        min-height: 200px;
        color: #fff;
        text-align: center;
        @media @mobile {
            padding: 60px 35px;
            position: relative;
            min-height: 380px;
        }
    }
}

h6 {
    font-size: 0.8rem;
    line-height: 3rem;
}

.modal-header {
    border-bottom: 0px;
}

/*mios */

img.img-fluid.text {
    position: relative;
    left: 177%;
    top: 54%;
}

.chicle {
    font-family: Arial;
    font-size: 50px;
    text-align: center;
    margin: 50px;
}

/* Asignamos la animación mediante pseudoclases cuando haya una interacción del usuario */

.chicle:hover {
    animation: 1s chicle 1;
}

/* Creamos la animación (con keyframes) */

@keyframes chicle {
    30% {
        transform: scaleX(1.2) scaleY(0.7);
    }
    40% {
        transform: scaleX(0.7) scaleY(1.2);
    }
    60% {
        transform: scaleX(1.1) scaleY(0.8);
    }
}

img.img-fluid.descubre {
    position: relative;
    top: 41%;
    left: 86%;
}

// img.descubre.tama.VelozIn {
//     position: relative;
//     top: 41%;
//     left: 65%;
// }

/* */

/* Asignamos las animaciones */

.reboteIn_abajo {
    animation: reboteIn_abajo 1s 2;
}

/* Creamos la animación ReboteIn desde Abajo (con keyframes) */

@keyframes reboteIn_abajo {
    0% {
        opacity: 0;
        transform: translateY(100vw);
    }
    50% {
        transform: translateY(-30px);
        opacity: 1;
    }
    70% {
        transform: translateY(10px);
    }
}

.reboteIn {
    position: relative;
}

.reboteIn {
    animation: reboteIn 1s 2;
}

/* Creamos la animación (con keyframes) */

@keyframes reboteIn {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    70% {
        opacity: 1;
        transform: scale(0.9);
    }
}

.VelozIn {
    animation: VelozIn 3s infinite;
}

/* Creamos la animación (con keyframes) */

@keyframes VelozIn {
    0% {
        opacity: 0;
        transform: translateX(-100vw) skewX(70deg);
    }
    60% {
        opacity: 1;
        transform: skewX(-20deg);
    }
    80% {
        transform: skewX(15deg);
    }
}

/* Estilos de la sombra (ocultada) */

.sombra_movil:before {
    content: "";
    position: absolute;
    width: 90%;
    left: 5%;
    top: 100%;
    height: 10px;
    background-image: radial-gradient(ellipse, rgba(0, 0, 0, 0.35) 35%, rgb(255, 255, 255) 80%);
    transition: all 0.3s;
    opacity: 0;
}

.sombra_movil:hover {
    /* Mueve la caja hacia arriba */
    transform: translateY(-5px);
    animation: movercaja 1.5s infinite;
}

@keyframes movercaja {
    50% {
        transform: translateY(6px);
    }
}

.sombra_movil:hover:before {
    /* Mueve la sombra hacia abajo y hace aprecer la sombra (previamente camuflada por transparencia) */
    top: 105%;
    opacity: 0.4;
    animation: moversombra 1.5s infinite;
}

@keyframes moversombra {
    50% {
        transform: translateY(-5px);
        opacity: 1;
    }
}

.giro {
    animation: giro 1s;
    animation: movercaja 1.5s infinite;
    transform-origin: left bottom;
}

/* Creamos la animación (con keyframes) */

@keyframes giro {
    0% {
        opacity: 0;
        transform: rotate(-200deg);
    }
}



#blanco2 {
    display: none;
}

#blanco {
    display: none;
}

.flechas-punto-blancos img {
    position: relative;
    bottom: 21%;
    left: 15%;
}

img.tex {
    position: relative;
    left: 35%;
    top: 98px;
}

img.VelozIn {
    position: relative;
    left: 61%;
    top: 194px;
}
.reboteIn {
    animation: reboteIn 1s 2;
}

/* Creamos la animación (con keyframes) */

@keyframes reboteIn {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.2);
    }

    70% {
        opacity: 1;
        transform: scale(0.9);
    }
}

img.puntos-blancos {
    position: relative;
    left: 18%;
    bottom: 287px;
}
img.puntos-morados {
    position: relative;
    top: 41px;
    left: 6%;
}

.giroY {
    animation: 4s giroY infinite;
    backface-visibility: visible; /* Porpiedad que determina si la partte de atras del elemento será o no visible al girarse pro completo */
}

@keyframes giroY {
    0% {
        opacity: 0.5;
        transform: perspective(200px) rotateY(90deg);
    }

    40% {
        opacity: 0.5;
        transform: perspective(200px) rotateY(-20deg);
    }

    70% {
        opacity: 0.5;
        transform: perspective(200px) rotateY(10deg);
    }
}
.giroX {
    animation: 5s giroX infinite;
    backface-visibility: visible; /* Porpiedad que determina si la partte de atras del elemento será o no visible al girarse pro completo */
}

@keyframes giroX {
    0% {
        opacity: 0.5;
        transform: perspective(200px) rotateX(90deg);
    }

    40% {
        opacity: 0.5;
        transform: perspective(200px) rotateX(-20deg);
    }

    70% {
        opacity: 0.5;
        transform: perspective(200px) rotateX(10deg);
    }
}

.col-sm.descu {
    position: relative;
    top: 195px;
    left: 35%;
}
.siguenos {
    position: relative;
    right: 34%;
}
div#navbarNavDropdown {
    position: relative;
    bottom: 20px;
}

.titular {
    position: relative;
    top: 110px;
    left: 1%;
    
}
.titular img {
    position: relative;
   left: 4%;
    
}

.fd {
    position: relative;
    right: 31%;
}
.container.bg-light.rounded.bannertiendas {
    max-width: 90% !important;
}
p.m-5.pb-5.morado {
    font-size: 14px;
    position: relative;
    bottom: 25px;
}
.dt {
    background-color: #ffffff85 !important;
    border-radius: 5px !important;
}
.objetos-blancos {
    position: relative;
    left: 77% !important;
    bottom: 287px;
}
.objetos-mora {
    position: relative;
    top: 138px;
    left: 13%;
}

a#btn-logo {
    position: relative;
    left: 28%;
}
.apagado {
    display: none;
 }
 .up-bannertiendas {
    position: relative;
    bottom: 21px !important;


}

//Modal
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: transparent !important;
    background-clip: padding-box;
    border: 1px solid transparent !important;
    border-radius: .3rem;
    outline: 0;
}
.modal-header {
    align-items: center;
    justify-content: center;
    border-bottom: none !important;
    .close {
        padding: 0;
        position: absolute;
        right: 25px;
        top: 14px;
        font-size: 3rem;
        color: @azul2;
        &:hover,&:focus{
            color: @azul2;
            opacity: 1;
        }
    }
}

.text-white{
    .close {
        color: white;
        &:hover,&:focus{
            color: white;
            opacity: 1;
        }
    }
}


// mobil
@media @mobile {
    img.img-fluid.text.reboteIn_abajo {
        display: none;
    }
    img.img-fluid.text.reboteIn_abajo.blanco {
        display: block !important;
    }
    #blanco {
        display: block !important;
    }

    #blanco2 {
        display: block !important;
    }
    #mora {
        position: relative;
        right: 98%;
        top: 307px;
    
    }

    img#blanco {
        position: relative;
        right: 196%;
        top: 242px;
    }

    img#blanco2 {
        position: relative;
        left: -63% !important;
        top: 225%;
        border-radius: 16%;
    }
    .siguenos {
        position: relative ;
        left: 30% !important;
    }
    div#navbarNavDropdown {
        position: relative;
        bottom: 0px !important;
       
    }

    .titular {
        position: relative;
        top: -162px !important;
    }

  .apagado {
       display: block !important;
    }

    p.m-5.pb-5 {
        font-size: 12px !important;
        // color: #ffffff !important;
        background-color: #ffffff6e !important;
        border-radius: 5px !important;
        position: relative;
        top: 273px;
        bottom: 0;
    }

    .fd {
        position: relative;
        right: 24% !important;
    }

    li.nav-item.font-weight-bold {
        position: relative;
        left: 3%;
        top: 30px;
    }
    a#btn-logo {
        position: relative;
        left: 10% !important;
    }

    div#navbarNavDropdown {
        background-color: #ffffff !important;
    }

    .col-sm.sm img {
        position: relative;
        top: 380px !important;
    }

    .container.bg-light.rounded.bannertiendas {
        max-width: 90%!important;
        border-radius: 14px !important;
    }
    #carousel .item.item1 {
        background-size: contain;
        background-position: center;
    }
    #carousel .item.item2 {
        background-size: contain;
        background-position: center;
    }
    #carousel .item.item3 {
        background-size: contain;
        background-position: center;
    }
    #carousel .item.item4 {
        background-size: contain;
        background-position: center;
    }
    #carousel .item.item5 {
        background-size: contain;
        background-position: center;
    }
    #carousel .item {
        height: 100vh;
    }
    img.tex {
        position: relative;
        top: 127%!important;
        left: -42%!important;
  
       
    }

    img#blanco2 {
        position: relative;
        left: -63% !important;
        top: 225%;
        border-radius: 16%;
    }
    img.VelozIn {
        position: relative;
        top: 383px !important;
      
    }
   .m-5 {
    margin: 0rem!important;
    }
    p#diferente {
        position: relative;
        
        font-size: 12px !important;
        line-height: 15px;
    }
    div#footerMobile {
        position: relative;
        top: 50px;
    }
    .col-md-8.apagado {
        position: relative;
     
    }
    .carousel-indicators {
        position: absolute;
        bottom: -60px;
    }
    #titular{
        max-width: 58%;
        position: relative;
        top: 87px;
        left: 26%;
    }
    p#text-diferente {
        position: relative;
        top: 101%;
    }

    p#text-diferente2 {
        position: relative;
        top: 88%;
    }
    #apagado{ display: none !important;}
}

@media (max-height: 700px){
    img.VelozIn {
        position: relative;
        left: 61%;
        top: 97px;
    }
    .col-sm.descu {
        position: relative;
        top: 97px;
        left: 33%;
    }
    .up-bannertiendas {
        position: relative;
        bottom: 55px !important;
    }
    p.m-5.pb-5.morado {
        
        position: relative;
        bottom: 32px;
    }
    div#navbarNavDropdown {
        position: relative;
        top: 2px;
       
    }
    a#btn-logo {
        position: relative;
        left: 30%;
    }
    a#btn-logo img{
        max-width: 85%;
    }
    img.tex {
        position: relative;
        left: 35%;
        top: 120px;
       
    }

}

