@morado: #30064e !important;
@naranja: #fa2400 !important;
@fucsia: #421a5f !important;
@verde: #c6d420 !important;
@azul: #003975 !important;
@amarillo: #f7bd2f !important;
@blanco: #ffffff !important;
@cafe: #a3340a !important;

.text-primary{
    color: @morado;
}
.amarillo{
    color: @amarillo;
}
.cafe{
    color: @cafe;
}
.naranja {
    color: @naranja;
}
.azul {
    color: @azul;
}
.blanco{
    color: @blanco;
}
.morado{
    color: @morado;
}
a {
    color: @morado;
}

.text-success{
    color: @verde;
}

.text-warning{
    color: @azul;
}

.text-danger{
    color: @fucsia;
}

.bg-primary{
    background: @fucsia;
}

.bg-secondary{
    background: @morado;
}

.bg-success{
    background: @verde;
}

.bg-warning{
    background: @azul;
}

.btn-primary{
    background: @morado;
    border-color: @morado;
    color:white !important;
}

.btn-success{
    background: @verde;
    border-color: @verde;
    color:white !important;
    &:hover {
        background-color: @azul;
        border-color: @azul;
    }
    &:disabled {
        cursor: not-allowed;
    }
}