<header>
    <div id="carousel" data-interval="6000" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
            <li data-target="#carousel" data-slide-to="3"></li>
            <li data-target="#carousel" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="item item1">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <img class="img-fluid puntos-morados giroY" src="images/1/flechas-punto-moradps.png" alt="" />
                            </div>
                            <div class="col">
                                <img class="img-fluid tex giro sombra_movil" src="images/1/Text.png" alt="" />
                                <!-- <img class="img-fluid tex giro sombra_movil" id="blanco2" src="images/1/Textblanco.png" alt="" /> -->
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <img class="img-fluid puntos-blancos giroX" src="images/1/flechas-puntos-blancos.png" alt="" />
                            </div>
                            <div class="col">
                                <div class="row dsw">
                                    <div class="col-sm descu carousel-indicators">
                                        <img data-target="#carousel" data-slide-to="1" class="reboteIn" id="mora" src="images/1/Descubrelo-aqui.png" alt="" />
                                        <!-- <img data-target="#carousel" data-slide-to="1" class="img-fluid reboteIn" id="blanco" src="images/1/Descubrelo-aquiblanco.png" alt="" /> -->
                                    </div>
                                    <div class="col-sm sm">
                                        <img class="VelozIn" src="images/1/Swipe.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="item item2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <img class="img-fluid objetos-mora giroX" src="images/2/objetos-mora.png" alt="" />
                            </div>
                            <div class="titular col-md-6">
                                <img class="img-fluid giro sombra_movil" id="titular" src="images/2/Titular.png" alt="" />
                                <p class="m-5 pb-5 morado dt" style="background-color: #ffffff85 !important;">
                                    Doraditas, saladitas y crocantes, así son nuestras <span class="font-weight-bold">Dux originales</span>, que como su nombre lo dicen, tiene el sabor de siempre, pero con
                                    <span class="font-weight-bold">toda la actitud.</span> <br />
                                    <br /> ¿Ya se te hizo agua la boca? Pues <span class="font-weight-bold">¡Pídelas ya!</span><br />
                                    <br />
                                    <span class="font-weight-bold">PRESENTACIÓN</span><br />
                                    <br /> - Multiempaque de 9 porciones individuales. <br /> - Porción individual de 3 galletas.
                                </p>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <img class="img-fluid objetos-blancos giroY" src="images/2/objetos-blancos.png" alt="" />
                            </div>
                            <div class="col-md-8" id="apagado">
                                <div class="row up-bannertiendas">
                                    <div class="col-sm">
                                        <p class="text-uppercase azul font-weight-bold">Cómpralo a un clic en:</p>
                                    </div>
                                    <div class="container bg-light rounded bannertiendas">
                                        <div class="row">
                                            <div class="col col1">
                                                <img class="float-right fd" src="images/2/flecha.png" alt="" />
                                            </div>
                                            <div class="col col2">
                                                <a href="https://www.exito.com/mercado/snacks/galletas/dux?map=c,c,c,b" target="_blank"><img src="images/2/Logo-Exito.png" alt="" /></a>
                                            </div>
                                            <div class="col col3">
                                                <a href="https://www.carulla.com/search?_query=DUX" target="_blank"><img src="images/2/Logo-Carulla.png" alt="" /></a>
                                            </div>
                                            <div class="col col4">
                                                <a href="https://merqueo.com/bogota/buscar/dux" target="_blank"><img src="images/2/Logo-Merqueo.png" alt="" /></a>
                                            </div>
                                            <div class="col col5">
                                                <a href="https://busqueda.tiendasjumbo.co/busca?q=dux" target="_blank"><img src="images/2/Logo-Jumbo.png" alt="" /></a>
                                            </div>
                                            <div class="col col6">
                                                <a href="https://www.novaventaalpaso.com/search?type=product&q=dux  " target="_blank"><img src="images/2/Logo-Nova.png" alt="" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 apagado">
                    <div class="row">
                        <div class="col-sm">
                            <p class="text-uppercase cafe font-weight-bold">Cómpralo a un clic en:</p>
                        </div>
                        <div class="container bg-light rounded bannertiendas">
                            <div class="row">
                                <!-- <div class="col col1">
                                    <img class="float-right fd" src="images/5/flecha.png" alt="" />
                                </div> -->
                                <div class="col col1">
                                    <a href="https://www.exito.com/mercado/snacks/galletas/dux?map=c,c,c,b" target="_blank"><img class="img-fluid" src="images/2/Logo-Exito.png" alt="" /></a>
                                </div>
                                <div class="col col2">
                                    <a href="https://www.carulla.com/search?_query=DUX" target="_blank"><img class="img-fluid" src="images/2/Logo-Carulla.png" alt="" /></a>
                                </div>
                                <div class="col col3">
                                    <a href="https://merqueo.com/bogota/buscar/dux" target="_blank"><img class="img-fluid" src="images/2/Logo-Merqueo.png" alt="" /></a>
                                </div>
                                <div class="col col4">
                                    <a href="https://busqueda.tiendasjumbo.co/busca?q=dux" target="_blank"><img class="img-fluid" src="images/2/Logo-Jumbo.png" alt="" /></a>
                                </div>
                                <div class="col col5">
                                    <a href="https://www.novaventaalpaso.com/search?type=product&q=dux  " target="_blank"><img class="img-fluid" src="images/2/Logo-Nova.png" alt="" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="item item3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <img class="img-fluid objetos-mora giroX" src="images/2/objetos-mora.png" alt="" />
                            </div>

                            <div class="titular col-md-6">
                                <img class="img-fluid giro sombra_movil" id="titular" src="images/3/Titular.png" alt="" />
                                <p class="m-5 pb-5 morado dt" style="background-color: #ffffff85 !important;">
                                    Sí siempre estás en busca del <span class="font-weight-bold">balance</span> y estás convencido que el <span class="font-weight-bold">equilibrio</span> entre lo
                                    <span class="font-weight-bold">rico y lo saludable</span> es la clave para disfrutar algo delicioso, pues nuestras <span class="font-weight-bold">Dux integrales</span> son para ti.<br />
                                    <br /> Entonces… <br /> ¿qué estás esperando para destapar unas? <span class="font-weight-bold">¡Pídelas ya!</span><br />
                                    <br />
                                    <span class="font-weight-bold">PRESENTACIÓN</span><br />
                                    <br /> - Multiempaque de 9 porciones individuales. <br /> - Porción individual de 3 galletas.
                                </p>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <img class="img-fluid objetos-blancos giroY" src="images/2/objetos-blancos.png" alt="" />
                            </div>
                            <div class="col-md-8" id="apagado">
                                <div class="row up-bannertiendas">
                                    <div class="col-sm">
                                        <p class="text-uppercase cafe font-weight-bold">Cómpralo a un clic en:</p>
                                    </div>
                                    <div class="container bg-light rounded bannertiendas">
                                        <div class="row">
                                            <div class="col col1"><img class="float-right fd" src="images/3/flecha.png" alt="" /></div>
                                            <div class="col col2">
                                                <a href="https://www.exito.com/mercado/snacks/galletas/dux?map=c,c,c,b" target="_blank"><img src="images/2/Logo-Exito.png" alt="" /></a>
                                            </div>
                                            <div class="col col3">
                                                <a href="https://www.carulla.com/search?_query=DUX" target="_blank"><img src="images/2/Logo-Carulla.png" alt="" /></a>
                                            </div>
                                            <div class="col col4">
                                                <a href="https://merqueo.com/bogota/buscar/dux" target="_blank"><img src="images/2/Logo-Merqueo.png" alt="" /></a>
                                            </div>
                                            <div class="col col5">
                                                <a href="https://busqueda.tiendasjumbo.co/busca?q=dux" target="_blank"><img src="images/2/Logo-Jumbo.png" alt="" /></a>
                                            </div>
                                            <div class="col col6">
                                                <a href="https://www.novaventaalpaso.com/search?type=product&q=dux  " target="_blank"><img src="images/2/Logo-Nova.png" alt="" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 apagado">
                    <div class="row">
                        <div class="col-sm">
                            <p class="text-uppercase cafe font-weight-bold">Cómpralo a un clic en:</p>
                        </div>
                        <div class="container bg-light rounded bannertiendas">
                            <div class="row">
                                <div class="col col1">
                                    <a href="https://www.exito.com/mercado/snacks/galletas/dux?map=c,c,c,b" target="_blank"><img class="img-fluid" src="images/2/Logo-Exito.png" alt="" /></a>
                                </div>
                                <div class="col col2">
                                    <a href="https://www.carulla.com/search?_query=DUX" target="_blank"><img class="img-fluid" src="images/2/Logo-Carulla.png" alt="" /></a>
                                </div>
                                <div class="col col3">
                                    <a href="https://merqueo.com/bogota/buscar/dux" target="_blank"><img class="img-fluid" src="images/2/Logo-Merqueo.png" alt="" /></a>
                                </div>
                                <div class="col col4">
                                    <a href="https://busqueda.tiendasjumbo.co/busca?q=dux" target="_blank"><img class="img-fluid" src="images/2/Logo-Jumbo.png" alt="" /></a>
                                </div>
                                <div class="col col5">
                                    <a href="https://www.novaventaalpaso.com/search?type=product&q=dux  " target="_blank"><img class="img-fluid" src="images/2/Logo-Nova.png" alt="" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="item item4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <img class="img-fluid objetos-mora giroX" src="images/2/objetos-mora.png" alt="" />
                            </div>
                            <div class="titular col-md-6">
                                <img class="img-fluid giro sombra_movil" id="titular" src="images/4/Titular.png" alt="" />
                                <p id="text-diferente" class="m-5 pb-5 morado dt" style="background-color: #ffffff85 !important;">
                                    Si eres de los que crees que comer acompañado es mejor, pues pon el plan, que nosotros le ponemos todo el sabor con nuestras <span class="font-weight-bold">Dux Rellenas Queso Cheddar</span>, que tiene toda la actitud
                                    lista para compartir. <br />
                                    <br /> ¿Ya armaste el plan? Pues <span class="font-weight-bold">¡Pídelas ya!</span><br />
                                    <br />
                                    <span class="font-weight-bold">PRESENTACIÓN</span>
                                    <br /> Tubo de 16 galletas
                                </p>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <img class="img-fluid objetos-blancos giroY" src="images/2/objetos-blancos.png" alt="" />
                            </div>
                            <div class="col-md-8" id="apagado">
                                <div class="row up-bannertiendas">
                                    <div class="col-sm">
                                        <p class="text-uppercase naranja font-weight-bold">Cómpralo a un clic en:</p>
                                    </div>
                                    <div class="container bg-light rounded bannertiendas">
                                        <div class="row">
                                            <div class="col col1"><img class="float-right fd" src="images/4/flecha.png" alt="" /></div>
                                            <div class="col col2">
                                                <a href="https://www.exito.com/mercado/snacks/galletas/dux?map=c,c,c,b" target="_blank"><img src="images/2/Logo-Exito.png" alt="" /></a>
                                            </div>
                                            <div class="col col3">
                                                <a href="https://www.carulla.com/search?_query=DUX" target="_blank"><img src="images/2/Logo-Carulla.png" alt="" /></a>
                                            </div>
                                            <div class="col col4">
                                                <a href="https://merqueo.com/bogota/buscar/dux" target="_blank"><img src="images/2/Logo-Merqueo.png" alt="" /></a>
                                            </div>
                                            <div class="col col5">
                                                <a href="https://busqueda.tiendasjumbo.co/busca?q=dux" target="_blank"><img src="images/2/Logo-Jumbo.png" alt="" /></a>
                                            </div>
                                            <div class="col col6">
                                                <a href="https://www.novaventaalpaso.com/search?type=product&q=dux  " target="_blank"><img src="images/2/Logo-Nova.png" alt="" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 apagado">
                    <div class="row">
                        <div class="col-sm">
                            <p class="text-uppercase cafe font-weight-bold">Cómpralo a un clic en:</p>
                        </div>
                        <div class="container bg-light rounded bannertiendas">
                            <div class="row">
                                <!-- <div class="col col1">
                                    <img class="float-right fd" src="images/5/flecha.png" alt="" />
                                </div> -->
                                <div class="col col1">
                                    <a href="https://www.exito.com/mercado/snacks/galletas/dux?map=c,c,c,b" target="_blank"><img class="img-fluid" src="images/2/Logo-Exito.png" alt="" /></a>
                                </div>
                                <div class="col col2">
                                    <a href="https://www.carulla.com/search?_query=DUX" target="_blank"><img class="img-fluid" src="images/2/Logo-Carulla.png" alt="" /></a>
                                </div>
                                <div class="col col3">
                                    <a href="https://merqueo.com/medellin/buscar/dux" target="_blank"><img class="img-fluid" src="images/2/Logo-Merqueo.png" alt="" /></a>
                                </div>
                                <div class="col col4">
                                    <a href="https://busqueda.tiendasjumbo.co/busca?q=dux" target="_blank"><img class="img-fluid" src="images/2/Logo-Jumbo.png" alt="" /></a>
                                </div>
                                <div class="col col5">
                                    <a href="https://www.novaventaalpaso.com/search?type=product&q=dux  " target="_blank"><img class="img-fluid" src="images/2/Logo-Nova.png" alt="" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="item item5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <img class="img-fluid objetos-mora giroX" src="images/2/objetos-mora.png" alt="" />
                            </div>
                            <div class="titular col-md-6">
                                <img class="img-fluid giro sombra_movil" id="titular" src="images/5/Titular.png" alt="" />
                                <p id="text-diferente2" class="m-5 pb-5 morado dt" style="background-color: #ffffff85 !important;">
                                    La deliciosa y perfecta combinación entre el <span class="font-weight-bold">saladito de la galleta </span>, y el <span class="font-weight-bold">cremoso sabor del queso,</span> que hace crunch y se deshace en tu boca,
                                    así son nuestras <span class="font-weight-bold">Dux Rellenas de queso blanco.</span> <br />
                                    <br /> Mmmm ... <br /> ¿Te dejamos con las ganas ? Pues, <span class="font-weight-bold">¡Pídelas ya!</span><br />
                                    <br />
                                    <span class="font-weight-bold">PRESENTACIÓN</span><br />
                                    <br /> - Multiempaque de 6 porciones individuales.
                                    <br /> - Porción individual de 4 galletas.
                                </p>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <img class="img-fluid objetos-blancos giroY" src="images/2/objetos-blancos.png" alt="" />
                            </div>
                            <div class="col-md-8" id="apagado">
                                <div class="row up-bannertiendas">
                                    <div class="col-sm">
                                        <p class="text-uppercase cafe font-weight-bold">Cómpralo a un clic en:</p>
                                    </div>
                                    <div class="container bg-light rounded bannertiendas">
                                        <div class="row">
                                            <div class="col col1">
                                                <img class="float-right fd" src="images/5/flecha.png" alt="" />
                                            </div>
                                            <div class="col col2">
                                                <a href="https://www.exito.com/mercado/snacks/galletas/dux?map=c,c,c,b" target="_blank"><img src="images/2/Logo-Exito.png" alt="" /></a>
                                            </div>
                                            <div class="col col3">
                                                <a href="https://www.carulla.com/search?_query=DUX" target="_blank"><img src="images/2/Logo-Carulla.png" alt="" /></a>
                                            </div>
                                            <div class="col col4">
                                                <a href="https://merqueo.com/bogota/buscar/dux" target="_blank"><img src="images/2/Logo-Merqueo.png" alt="" /></a>
                                            </div>
                                            <div class="col col5">
                                                <a href="https://busqueda.tiendasjumbo.co/busca?q=dux" target="_blank"><img src="images/2/Logo-Jumbo.png" alt="" /></a>
                                            </div>
                                            <div class="col col6">
                                                <a href="https://www.novaventaalpaso.com/search?type=product&q=dux  " target="_blank"><img src="images/2/Logo-Nova.png" alt="" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 apagado">
                    <div class="row">
                        <div class="col-sm">
                            <p class="text-uppercase cafe font-weight-bold">Cómpralo a un clic en:</p>
                        </div>
                        <div class="container bg-light rounded bannertiendas">
                            <div class="row">
                                <!-- <div class="col col1">
                                    <img class="float-right fd" src="images/5/flecha.png" alt="" />
                                </div> -->
                                <div class="col col1">
                                    <a href="https://www.exito.com/mercado/snacks/galletas/dux?map=c,c,c,b" target="_blank"><img class="img-fluid" src="images/2/Logo-Exito.png" alt="" /></a>
                                </div>
                                <div class="col col2">
                                    <a href="https://www.carulla.com/search?_query=DUX" target="_blank"><img class="img-fluid" src="images/2/Logo-Carulla.png" alt="" /></a>
                                </div>
                                <div class="col col3">
                                    <a href="https://merqueo.com/bogota/buscar/dux" target="_blank"><img class="img-fluid" src="images/2/Logo-Merqueo.png" alt="" /></a>
                                </div>
                                <div class="col col4">
                                    <a href="https://busqueda.tiendasjumbo.co/busca?q=dux" target="_blank"><img class="img-fluid" src="images/2/Logo-Jumbo.png" alt="" /></a>
                                </div>
                                <div class="col col5">
                                    <a href="https://www.novaventaalpaso.com/search?type=product&q=dux  " target="_blank"><img class="img-fluid" src="images/2/Logo-Nova.png" alt="" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>